body {
    font-size: 16px;
    font-family: sans-serif;
    color: #333;
    background-color: #ffffff;
    text-align: center;
  }
  
  h1 {
    font-size: 50px;
    text-align: center;
  }
  
  ul {
    list-style-type: decimal;
    text-align: center;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  img {
    width: 400px;
    height: 400px;
    align-items:first baseline;
  }
  
  p {
    margin-bottom: 20px;
    
  }