body{
    padding: auto;
    background-color: rgb(226, 252, 252);
}
header{
    margin:auto;
    padding: auto;
    max-width: 500px;
}
img{
    width: 130px;
    padding: auto;
}
.perfil{
    background-color: aliceblue;
    padding-top: 50px;
    margin: auto;
}
.perfil div{
    display: inline-block;
    padding-left: 10px;
}
.info_usuario{
    margin: auto;
    border-bottom: 30px;
}
.certificados{
    background-color: aliceblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: auto;
}
.referencia p{
    display: inline-block;
    padding: 10px;
}
h2{
    padding: 10px;
}